
/* colores  
## Colors */
$White: hsl(0, 0%, 100%);
$LighGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

/* media query */
$Mobile: 375px;
$Desktop: 1440px;

/* fuente */

$fuentePrincipal: 'Outfit', sans-serif;
